body {
    margin: 0;
}

.title {
    margin-top: 100px;
    margin-bottom: 25px;
    text-align: center;
    font-family: "Raleway";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
}

hr {
    width: 64px;
    height: 2px;
    background-color: #E72424;  
}

.content {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
}

.box {
    margin-top: 67px; 
    text-align: center;    
}

.card {
    display: inline-block;
    text-align: center;   
}

.circle {
    margin: auto;
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    border-radius: 50%;   
}

.subtitle {
    font-family: "Open Sans";
    font-style: normal;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;   
}

.center_card {
    text-align: center;
    display: inline-block;
    margin-left: 32px;
    margin-right: 32px;
}

.lamp {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.keyboard {
    margin-top: 22px;
    margin-right: 16px;  
    margin-bottom: 22px;
    margin-left: 15px;
}

.lightning {
    margin-top: 20px;
    margin-right: 20px; 
    margin-bottom: 20px;
    margin-left: 22px;  
}